<a href="https://colab.research.google.com/github/Duarbert/SAD_DuarteSantos/blob/master/Tr3_20160234.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Carregar o dataset

import sklearn.datasets as datasets
import pandas as pd
import numpy as np

In [112]:
# Associar variável ao dataser

dataHousing = datasets.california_housing.fetch_california_housing()

print(dataHousing.DESCR)

California housing dataset.

The original database is available from StatLib

    http://lib.stat.cmu.edu/datasets/

The data contains 20,640 observations on 9 variables.

This dataset contains the average house value as target variable
and the following input variables (features): average income,
housing average age, average rooms, average bedrooms, population,
average occupation, latitude, and longitude in that order.

References
----------

Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
Statistics and Probability Letters, 33 (1997) 291-297.

In [0]:
dfHousing = pd.DataFrame(data=dataHousing.data, columns=dataHousing.feature_names)
dfHousing.head(10)

In [0]:
# 1) Aggregation para o número de quartos para dormir

AvgRoomDF = pd.DataFrame(dfHousing['AveBedrms'].aggregate(['sum','min','max','mean','var']).astype(int))

print(AvgRoomDF)

print('\n')

# Ou mais fácil

print (dfHousing.agg({'AveBedrms' : ['sum','min','max','mean','var']}).astype(int))

In [0]:
# 2) Média de ocupação de uma amostra aleatória de 25% do dataset

Amostra1000 = dfHousing.sample(frac=0.25)

Amostra1000.agg({'AveOccup' : ['mean']}).astype(float)

In [0]:
3) Dimensionality Reduction

In [0]:
# 3) Dimensionality Reduction 

# Não parece haver valores nulos para retirar
dfHousing.isnull().sum()/len(dfHousing)*100

# Vamos então retirar a longitude e latitude

shortDfHousing = dfHousing.drop(['Latitude','Longitude'], axis = 1)
shortDfHousing.head(10)

In [154]:
# 4) Feature Subset Selection

# Escolher só as features dos quartos

dfHousing[['AveBedrms', 'AveRooms']].head(10)

   AveBedrms  AveRooms
0   1.023810  6.984127
1   0.971880  6.238137
2   1.073446  8.288136
3   1.073059  5.817352
4   1.081081  6.281853
5   1.103627  4.761658
6   0.951362  4.931907
7   1.061824  4.797527
8   1.117647  4.294118
9   0.990196  4.970588

In [184]:
# 5) Feature Creation
print(dataHousing.data.shape)
print(dataHousing.target.shape)

print(dataHousing.target.reshape(-1,1).shape)

dfHousing2 = np.concatenate((dataHousing, dataHousing.target.reshape(-1,1)), axis=1)

(20640, 8)
(20640,)
(20640, 1)

ValueError: ignored

In [168]:
# 6) Discretization and Binarization

# Se tiverem quartos para dormir, a classificação fica binária.

dfHousing[['AveBedrms', 'AveRooms']].head(10)

dfHousing[('AveBedrms') < 1, 'AveRooms']]

ValueError: ignored

In [0]:
# 7) Attribute Transformation